html, body {
  margin: 0;
  height: 100vh; }

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  display: flex;
  flex-direction: column; }

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px; }

header {
  text-align: center;
  padding: 5px;
  color: #cccc00;
  background-color: darkgreen; }

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%; }

h2 {
  color: #006700; }

button {
  background-color: #bcf5bc;
  font-weight: bold;
  border-radius: 10px;
  border: solid 2px #0a420a;
  font-size: 20px;
  outline: none; }
  button:hover {
    background-color: #189a18; }
  button:active {
    background-color: green;
    color: #bcf5bc;
    border: none; }

.card {
  margin: 10px;
  width: 60%;
  padding: 4px;
  border: solid 2px green;
  border-radius: 23px;
  box-shadow: 3px 4px 15px -5px rgba(0, 0, 0, 0.7); }

.method {
  color: #0a420a;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .method button {
    text-align: center;
    width: 50%;
    height: auto; }

#searchBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%; }

#newTienda {
  background-color: white;
  border: none;
  color: #004d00;
  cursor: pointer; }

#searchById {
  color: #189a18;
  border: #189a18 solid 2px;
  background-color: white; }

form {
  display: none;
  border: #004d00 solid 2px;
  border-radius: 5px;
  width: 700px;
  padding: 10px; }
  form .datos {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 20px; }
    form .datos label {
      display: flex;
      flex-direction: column; }
    form .datos input {
      outline: 0; }

.show {
  display: inline !important; }

.loading {
  width: 2rem;
  height: 2rem;
  border: 5px solid #f3f3f3;
  border-top: 6px solid #9c41f2;
  border-radius: 100%;
  margin: auto;
  visibility: hidden;
  animation: spin 1.5s infinite linear; }

.loading.display {
  visibility: visible; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.error {
  border: solid 2px red; }

.goodmsg {
  color: green; }

.errormsg {
  color: red; }

.success {
  border: solid 2px green; }
