html, body {
  margin: 0;
  height: 100vh; }

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  display: flex;
  flex-direction: column; }

header {
  text-align: center;
  padding: 5px;
  color: #cccc00;
  background-color: darkgreen; }

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

button {
  background-color: #bcf5bc;
  font-weight: bold;
  border-radius: 10px;
  border: solid 2px #0a420a;
  font-size: 20px;
  outline: none; }
  button:hover {
    background-color: #189a18; }
  button:active {
    background-color: green;
    color: #bcf5bc;
    border: none; }

.card {
  margin: 10px;
  width: 60%;
  padding: 4px;
  border: solid 2px green;
  border-radius: 23px;
  box-shadow: 3px 4px 15px -5px rgba(0, 0, 0, 0.7); }
  .card h2 {
    color: #004d00; }

.method {
  color: #0a420a;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .method button {
    text-align: center;
    width: 10%;
    height: auto; }

#searchById {
  width: 30px;
  height: 30px; }

form {
  display: none; }
  form input {
    outline: 0; }

.loading {
  width: 2rem;
  height: 2rem;
  border: 5px solid #f3f3f3;
  border-top: 6px solid #9c41f2;
  border-radius: 100%;
  margin: auto;
  visibility: hidden;
  animation: spin 1.5s infinite linear; }

.loading.display {
  visibility: visible; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.error {
  border: solid 2px red; }

.goodmsg {
  color: green; }

.errormsg {
  color: red; }

.success {
  border: solid 2px green; }
