$primary-color-button:lightgreen;
$primary-color-card:green;
$font-color-h1:yellow;
html,body{
    margin:0;
    height: 100vh;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    display: flex;
    flex-direction: column;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
header{
    text-align: center;
    padding:5px;
    color:darken($font-color-h1, 10%);
    background-color: darkgreen;
    
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
}
h2{
    color:darken($primary-color-card, 5%);
}
button{
    background-color: lighten($primary-color-button, 10%);
    font-weight: bold;
    border-radius: 10px;
    border: solid 2px darken($primary-color-button, 60%);
    font-size: 20px;
    outline: none;
    &:hover{
        background-color: darken($primary-color-button, 40%);
        
    }
    &:active{
        background-color: $primary-color-card;
        color:lighten($primary-color-button, 10%);
        border:none;
    }
}
.card{
    margin: 10px;
    width: 60%;
    padding: 4px;
    border: solid 2px $primary-color-card;
    border-radius: 23px;
    box-shadow: 3px 4px 15px -5px rgba(0,0,0,0.7);
  
}
.method{
    margin-top:300px ;
    color:darken($primary-color-button, 60%);
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    button{
        text-align: center;
        width: 50%;
        height: auto;
    }
}
#searchBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}
#newTienda{
    background-color: white;
    border:none;
    color: darken($primary-color-card, 10%);
    cursor: pointer;
}
#searchById{
    color: darken($primary-color-button, 40%);
    border:darken($primary-color-button, 40%) solid 2px;
    background-color: white;
}
form{
    display: inline;
    border:none;
    border-radius: 5px;
    width: 51%;
    max-height: 0;
    transition: max-height .5s ease-out;
    padding: 10px;
    overflow: hidden;
    .datos{
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
        padding: 20px;
        label {
        display: flex;
        flex-direction: column;
        }
        input {
        outline: 0;
        }
    }
    
}
.show{
    max-height: 900px;
    border:darken($primary-color-card, 10%) solid 2px;
}

.loading {
    width: 2rem;
    height: 2rem;
    border: 5px solid #f3f3f3;
    border-top: 6px solid #9c41f2;
    border-radius: 100%;
    margin: auto;
    visibility: hidden;
    animation: spin 1.5s infinite linear;
}
.loading.display {
    visibility: visible;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.error{
    border:solid 2px red;
}

.goodmsg{
    color:green;
}
.errormsg{
    color:red;
}
.success{
    border:solid 2px green;
}